<div class="px-4" fxLayout="row wrap">
    <span class="flex justify-start align-middle items-center gap-2">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Subject</mat-label>
            <input matInput disabled [value]="subject"/>
        </mat-form-field>
        <mat-form-field class="max-w-36">
            <mat-label>State</mat-label>
            <mat-select [disabled]="!isEscheat" [value]="agency.state" (selectionChange)="onStateSelected($event.value)">
                @for (state of states; track $index) {
                    <mat-option [value]="state">{{state}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-slide-toggle id="toggle-users" [disabled]="itemsToLoad.length > 0" [checked]="isEscheat" color="primary" class="flex-shrink-0 pb-4"
            (change)="onEscheatToggle()">
            Include Escheat Text
        </mat-slide-toggle>
    </span>
    <div class="flex justify-between align-top mr-5">
        <span class="flex justify-start">
            @if (logoImgUrl) {
                <img class="object-scale-down h-44 w-80" id="profile-image" alt="Agency Logo" title="Agency Logo" src="{{ logoImgUrl }}" />
            }
        </span>
    </div>

    <p>
		<p [innerText]="letter || ''"></p>

    <mat-divider />

    <div class="flex justify-between gap-3 py-3 items-center">
        <button mat-raised-button type="button" color="primary" id="get-button" (click)="sendEmail()" [disabled]="isEscheatTextInvalid"
            class="scale-90 text-nowrap">
            <mat-icon>email</mat-icon>
            Send
        </button>
    </div>
</div>
