<div class="flex justify-between gap-8 items-center mt-4 mobile-flex-column-reverse datatable-search-wrap" *ngIf="hasFilter || hasToggleTop || hasButtonTop">
    @if (hasFilter) {
        <mat-form-field id="datatable-search-field-{{templateTableId}}"
        class="mobile-view-full datatable-search-field">
            <mat-label><mat-icon class="relative top-0.5">filter_list</mat-icon> Filter</mat-label>
            <input matInput (input)="applyFilter()" placeholder="Filter table by word or value..." #dataTableSearch autocomplete="off" id="datatable-search-input-{{templateTableId}}"
            class="datatable-search-input"
            [(ngModel)]="filterVal" />
            <span matSuffix *ngIf="dataTableSearch.value">
                <button mat-icon-button id="datatable-clear-btn-{{templateTableId}}" (click)="clearFilter(dataTableSearch)" class="datatable-clear-btn">
                    <mat-icon class="text-sm relative bottom-0.5">clear</mat-icon>
                </button>
            </span>
        </mat-form-field>
    }
    <div class="flex justify-center lg:justify-end items-center gap-5 flex-wrap mobile-view-full mb-4">
        @if (hasToggleTop) {
            <mat-slide-toggle id="toggle-users" [checked]="isToggle" color="primary" (change)="emitToggleEvent()" class="mr-6 whitespace-nowrap text-center sm:text-inherit" [disabled]="!hasActionsTopEnabled">
                {{buttonToggleTextTop}}
            </mat-slide-toggle>
        }
        @if (hasButtonTop) {
            <button mat-raised-button id="datatable-add-btn-{{templateTableId}}" color="accent" (click)="emitAddEvent()"
            class="mobile-view-full datatable-add-btn whitespace-nowrap items-center flex gap-1" [disabled]="buttonDisabledTop || !hasActionsTopEnabled">
                @if (buttonIconTop === 'spinner') { <mat-spinner diameter="15"/> }
                @else {<mat-icon class="text-base">{{buttonIconTop}}</mat-icon>}
                <span>{{ buttonTextTop }}</span>
            </button>
        }
    </div>
</div>

<div class="is-scrollable">
    <table class="data-table" mat-table [dataSource]="dataSource" matSort>
        <ng-container>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    No data found...
                </td>
            </tr>
        </ng-container>

        @for (column of tableColumns; track column.name) {
            <ng-container [matColumnDef]="column.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="disableSort || !column.sort">
                    @switch (column.name) {
                        @case ('select') {
                            @if (hasButtonSelectAll) {
                                <mat-checkbox
                                    (change)="$event ? toggleAllRows($event) : null"
                                    [indeterminate]="!isAllSelected && selection.selected?.length > 0"
                                    [checked]="isAllSelected"
                                    [aria-label]="selectAllToolTip"
                                    [matTooltip]="selectAllToolTip"
                                    [disabled]="!hasActionsEnabled"/>
                            } @else {
                                {{column.displayAs}}
                            }
                        } @default {
                            {{column.displayAs}}
                        }
                    }
                </th>
                <td mat-cell *matCellDef="let item, index as i"
                class="align-middle"
                [style.max-width]="column.maxWidth"
                [ngClass]="{
                'no-wrap': !column.wrap, 'datatable-truncated': !!column.maxWidth,
                '!text-left': column.alignment === 'left', '!text-justify': column.alignment === 'justify',
                '!text-center': column.alignment === 'center', '!text-right': column.alignment === 'right',
                }"
                appMatTooltipShowIfTruncated [matTooltip]="item[column.name]?.value">

                    <span class="mobile-label"> {{ column.displayAs }} </span>
                    @switch (column.name) {
                        @case ('select') {
                            <mat-checkbox [checked]="item?.selected" [disabled]="item?.updating || item?.disabled || !hasActionsEnabled" (change)="emitSelectEvent($event, item)"
                            [matTooltip]="actionTooltipSelect"/>
                            @if (item?.updating) {<mat-spinner diameter="15" color="primary" class="inline relative top-px ml-2"/>}
                        } @case ('no') {
                            {{dataSource.filteredData.indexOf(item)+1}}
                        } @case ('actions') {
                            @for (button of buttons; track buttons) {
                                @if ((button.name === 'delete' && !item?.deleteDisabled) || button.name !== 'delete') {
                                    <button mat-icon-button type="button"
                                        id="row-{{button.name}}-btn-{{templateTableId}}-{{i}}"
                                        (click)="button.callback($event, item)"
                                        [disabled]="!hasActionsEnabled"
                                        [style.color]="hasActionsEnabled ? button.color : ''"
                                        [color]="button.color">
                                        @if (button.suspendOnUpdate && item?.updating) {
                                            <div class="datatable-{{button.name}}-loader-wrap">
                                                <mat-spinner diameter="15" [style.color]="button.color" [color]="button.color"/>
                                            </div>
                                        } @else {
                                            <mat-icon id="row-{{button.name}}-btn-icon-{{templateTableId}}-{{i}}" [matTooltip]="item?.customTooltip || button.tooltip" [matTooltipPosition]="button.tooltipPosition">
                                                {{button.icon}}
                                            </mat-icon>
                                        }
                                    </button>
                                }
                            }
                        } @case ('status') {
                            <mat-chip-listbox>
                                <mat-chip class="whitespace-nowrap" [class]="item?.statusChipType">{{ item?.status }}</mat-chip>
                            </mat-chip-listbox>
                        } @case ('name') {
                            @if (hasSubDescription) {
                                <strong>{{item[column.name]}}</strong> <br/> {{item?.description}}
                            } @else {
                                {{item[column.name]}}
                            }
                        } @case ('email') {
                            <span (click)="onEmailClick($event, item)" 
                                  class="text-blue-700 underline cursor-pointer" 
                                  id="table-email-link-{{templateTableId}}-{{i}}">
                                {{item[column.name]}}
                            </span>
                        } @case ('contactName') {
                            <span (click)="onContactClick($event, item)" 
                                  class="text-blue-700 underline cursor-pointer" 
                                  id="table-contact-link-{{templateTableId}}-{{i}}">
                                {{item[column.name]}}
                            </span>
                        } @case ('contact') {
                            <span (click)="onContactClick($event, item)" 
                                  class="text-blue-700 underline cursor-pointer" 
                                  id="table-contact-link-{{templateTableId}}-{{i}}">
                                {{item[column.name]}}
                            </span>
                        } @case ('owner') {
                            <span (click)="onContactClick($event, item)" 
                                  class="text-blue-700 underline cursor-pointer" 
                                  id="table-owner-link-{{templateTableId}}-{{i}}">
                                {{item[column.name]}}
                            </span>
                        } @case ('color') {
                            <div class="flex items-center gap-2">
                                <div [style.background-color]="item[column.name]" 
                                     [style.width.px]="24" 
                                     [style.height.px]="24" 
                                     [style.border]="'1px solid #ccc'"
                                     [style.border-radius.px]="4"
                                     class="inline-block flex-shrink-0"></div>
                                <span>{{item[column.name]}}</span>
                            </div>
                        } @default {
                            @if (column.obfuscate) {
                                <span>
                                    {{item.obfuscate ? obfuscateValue(item[column.name]) : item[column.name]}}
                                    <button mat-icon-button id="acct-no-btn-{{i}}" (click)="item.obfuscate = !item.obfuscate">
                                        <mat-icon class="text-base" [matTooltip]="item.obfuscate ? 'Show' : 'Hide'" matTooltipPosition="after">
                                            visibility{{item.obfuscate ? '' : '_off'}}
                                        </mat-icon>
                                    </button>
                                </span>
                            } @else if (column.isCheckbox) {
                                <mat-checkbox [checked]="item[column.name]" disabled/>
                            } @else if (column.options?.length) {
                                @if (item[column.name]?.isOverridable) {
                                    <mat-select [(ngModel)]="item[column.name].value" name="option" id="select-{{column}}-{{i}}"
                                    [disabled]="!item[column.name]?.isOverridable" (ngModelChange)="emitDropdownChangeEvent(item)">
                                        @for (option of column.options; track option) {
                                            <mat-option [value]="option" id="option-{{column}}-{{$index}}">
                                                {{option}}
                                            </mat-option>
                                        }
                                    </mat-select>
                                } @else {
                                    <span matTooltip="Locked">
                                        @if (item[column.name]?.value !== 'NONE') { {{item[column.name]?.value}} }
                                    </span>
                                }
                            } @else if (column?.buttonText && item?.isEditing) {
                                <button color="primary" mat-stroked-button id="row-button-{{i}}" (click)="emitButtonEvent(item)">
                                    {{item[column.name + 'ButtonText'] ?? column?.buttonText}}
                                </button>
                            } @else {
                                @if (item[column.name] !== 'NONE') { {{item[column.name]}} }
                            }
                        }
                    }
                </td>
            </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="hasActionsRowClick ? emitRowClickEvent(row) : null"
        [ngClass]="{'cursor-pointer' : hasActionsRowClick, 'datatable-row-active': row?.rowActive, 'edited-table-row': row?.isEdited}" 
        [matTooltip]="showCustomRowTooltip ? row?.customRowTooltip : null" matTooltipPosition="above"></tr>
    </table>
</div>


<mat-paginator
    [ngClass]="{'datatable-hidden' : data.length < itemsPerPage}"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="itemsPerPage"
    showFirstLastButtons
    aria-label="Select page"
    (page)="hasButtonSelectAll ? onPageChange() : null">
</mat-paginator>
