@if (isPageReady) {
  <div class="mat list-layout-tabbed">
    <div class="tableDiv px-4">
      <app-data-table
        [data]="colorsDisplay"
        [columns]="colorsDisplayedColumns"
        [hasColumnIndex]="false"
        [hasFilter]="true"
        [hasToggleTop]="false"
        [hasActionsRowClick]="true"
        [hasActionsEdit]="true"
        [hasActionsDelete]="false"
        [itemsPerPage]="10"
        (editEvent)="goToColor($event)"
        (rowClickEvent)="goToColor($event)"/>
    </div>
  </div>
}
