.embedded-mode {
  .content-card-wrap {
    justify-content: flex-start;
    padding: 0;
  }
  
  .content-card {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  
  section.content-card {
    border-radius: 0;
  }
  
  .bg-slate-200 {
    border-radius: 0;
  }
}



