@if (isPageReady) {
  <div class="mat list-layout-tabbed">
    <div class="tableDiv">
      <app-data-table
        [data]="accountingOfficesDisplay"
        [columns]="accountingOfficesDisplayedColumns"
        [hasColumnIndex]="false"
        [hasFilter]="true"
        [hasToggleTop]="false"
        [hasActionsRowClick]="true"
        [hasActionsEdit]="true"
        [hasActionsCopy]="true"
        [hasActionsDelete]="true"
        [deleteConfirmTitle]="'Delete Accounting Office'"
        [deleteConfirmMessage]="'Are you sure you want to delete this accounting office?'"
        [itemsPerPage]="100"
        (editEvent)="goToAccountingOffice($event)"
        (rowClickEvent)="goToAccountingOffice($event)"
        (copyEvent)="copyAccountingOffice($event)"
        (deleteEvent)="deleteAccountingOffice($event)">
        <div dataTableFilterActions>
          <div class="table-filter-actions-group form-titlebar-actions-wrap uniform-gap">
            <mat-slide-toggle id="toggle-accounting-offices-inactive" [checked]="showInactive" color="primary" (change)="toggleInactive()" class="whitespace-nowrap">InActive</mat-slide-toggle>
            <button mat-raised-button type="button" color="primary" id="add-button" (click)="addAccountingOffice()" class="whitespace-nowrap items-center flex gap-1">
              <mat-icon class="text-base">add</mat-icon>
              <span>Add</span>
            </button>
          </div>
        </div>
      </app-data-table>
    </div>
  </div>
}
