@if (isLoading) {
  <div class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
    <p>Loading receipts...</p>
  </div>
} @else {
  @if (isServiceError) {
    <p class="empty-msg">Unable to load receipts.</p>
  }

  <div class="mat list-layout-standard">
    <div class="tableDiv">
      <app-data-table
        [data]="receiptsDisplay"
        [columns]="receiptDisplayedColumns"
        [hasColumnIndex]="false"
        [hasFilter]="true"
        [hasToggleTop]="true"
        [hasButtonTop]="true"
        [hasActionsRowClick]="true"
        [hasActionsEdit]="true"
        [hasActionsDelete]="true"
        [itemsPerPage]="100"
        buttonToggleTextTop="Inactive"
        buttonTextTop="Add"
        buttonIconTop="add"
        buttonColorTop="primary"
        (topToggleButtonEvent)="toggleInactive()"
        (topButtonEvent)="addReceipt()"
        (editEvent)="goToReceipt($event)"
        (rowClickEvent)="goToReceipt($event)"
        (receiptClickEvent)="openReceiptDialog($event)"
        (deleteEvent)="deleteReceipt($event)" />
    </div>
  </div>
}
