# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- develop
- stage
- main

pool: 
  name: 'Windows-Agents-NV'
  demands: npm

variables:  
  ${{ if eq( variables['Build.SourceBranchName'], 'develop' ) }}: 
    artifactName: Dev
    configuration: development
    secondaryConfiguration: ''
  ${{ if eq( variables['Build.SourceBranchName'], 'stage' ) }}: 
    artifactName: Stg
    configuration: stage
    secondaryConfiguration: ''    
  ${{ if eq( variables['Build.SourceBranchName'], 'main' ) }}: 
    artifactName: Main
    configuration: production 
    secondaryConfiguration: testr
  ${{ if eq(variables['artifactName'],'') }}:
    artifactName: Drop
    configuration: development
    secondaryConfiguration: ''

steps:

- checkout: self
  clean: false
  
#- task: NodeTool@0
#  inputs:
#    versionSpec: '16.10.0'
#    checkLatest: true

- task: Npm@1
  displayName: 'npm node_modules'
  inputs:    
    command: install
    workingDir: '.\'
    verbose: false

- task: Npm@1
  displayName: 'build angular'
  inputs:
   command: custom
   workingDir: .\
   verbose: false
   customCommand: run ng -- build --configuration ${{variables.configuration}}

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'dist/rentall.ui'
    ArtifactName: ${{variables.artifactName}}
    publishLocation: 'Container'

- task: Npm@1
  condition: ne(variables['secondaryConfiguration'],'')
  displayName: 'build secondary configuration'
  inputs:
    command: custom
    workingDir: .\
    verbose: false
    customCommand: run ng -- build --configuration ${{variables.secondaryConfiguration}}

- task: PublishBuildArtifacts@1
  displayName: 'publish secondary artifact'
  condition: ne(variables['secondaryConfiguration'],'')
  inputs:
    PathtoPublish: 'dist/rentall.ui'
    ArtifactName: ${{variables.secondaryConfiguration}}
    publishLocation: 'Container'



