.no-lines {
  padding: 16px;
  text-align: center;
  color: #666;
  font-style: italic;
}

.accounting-list-tabs {
  ::ng-deep {
    .mat-mdc-tab-header {
      .mdc-tab {
        flex: 1;
        min-width: 0;
      }
    }
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  min-height: 400px;
  
  p {
    margin-top: 1rem;
    color: #666;
  }
}
