<div class="flex flex-row flex-wrap py-5">
    <div class="w-half">
        <h2 class="text-2xl">Check Information:</h2>
        <p>
            <strong>GfNo:</strong> {{ outstandingCheck.gfNo }}<br />
            <strong>Check Number:</strong> {{ outstandingCheck.checkNum }}<br />
            <strong>Check Date:</strong> {{ outstandingCheck.checkDate | date: 'MM/dd/YYYY' }}<br />
            <strong>Amount:</strong> {{ outstandingCheck.amount | currency }}<br />
        </p>
    </div>
    <div class="w-half">
        <h2 class="text-2xl">Last Contacted:</h2>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="flex gap-2 items-center flex-row">
                <mat-form-field appearance="fill">
                    <mat-label>Last Contact:</mat-label>
                    <input matInput id="lastContact" type="text" [matDatepicker]="picker" formControlName="lastContact"
                        [value]="outstandingCheck.lastContact" autocomplete="off" [max]="todayDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker" class="mat-datepicker-toggle"/>
                    <mat-datepicker #picker/>
                </mat-form-field>
                <button mat-raised-button type="button" color="primary" id="save-button" (click)="save()" [disabled]="form.pristine || form.invalid"
                    class="scale-90 text-nowrap">
                    <mat-icon>save</mat-icon>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
<mat-divider class="pb-8"/>
<div class="flex flex-row flex-wrap">
    <div class="w-half">
        <h2 class="text-2xl">Payee Information:</h2>
        <p><strong>Name:</strong> {{ outstandingCheck.payeeName }} </p>
        <p>
            <strong>Address:</strong><br />
            {{ outstandingCheck.payeeAddress }}<br />
            {{ outstandingCheck.payeeCity + ', ' + outstandingCheck.payeeState + ' ' + outstandingCheck.payeeZip }}
        </p>
        <p>
            <strong>Home:</strong>&nbsp;
                @if (outstandingCheck.payeeHomePhone) {<a href="tel:{{outstandingCheck.payeeHomePhone | replace : '[^\\d+]' : ''}}">{{ outstandingCheck.payeeHomePhone }}</a>} @else {None}<br />
            <strong>Cell:</strong>&nbsp;
                @if (outstandingCheck.payeeCellPhone) {<a href="tel:{{outstandingCheck.payeeCellPhone | replace : '[^\\d+]' : ''}}">{{ outstandingCheck.payeeCellPhone }}</a>} @else {None}<br />
            <strong>Work:</strong>&nbsp;
                @if (outstandingCheck.payeeBusinessPhone) {<a href="tel:{{outstandingCheck.payeeBusinessPhone | replace : '[^\\d+]' : ''}}">{{ outstandingCheck.payeeBusinessPhone }}</a>} @else {None}
        </p>
        <p>
            <strong>Email:</strong>&nbsp;
                @if (outstandingCheck.payeeEmail) {<a href="mailto:{{outstandingCheck.payeeEmail}}">{{ outstandingCheck.payeeEmail }}</a>} @else {None}
        </p>
    </div>
    <div class="w-half">
        <h2 class="text-2xl">Agency Information:</h2>
        <p>
            <strong>Parent Company: </strong> {{ agency.parentCompany || 'Unspecified' }}<br />
            <strong>Name:</strong> {{ agency.name }}<br />
            <strong>Branch:</strong> {{ agency.branch || 'Unspecified' }}<br />
            <strong>Database:</strong> {{ agency.databaseName }}<br />
            <strong>Region ID:</strong> {{ agency.regId }}<br />
        </p>
    </div>
</div>

