<div class="history-wrap">
  <div class="history-tables">
    <mat-expansion-panel class="reservation-section" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 class="section-title">Inspection History</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if (isLoadingInspections) {
        <div class="loading-container">
          <mat-spinner [diameter]="40"></mat-spinner>
          <p>Loading inspections...</p>
        </div>
      } @else if (isServiceErrorInspections) {
        <p class="empty-msg">Unable to load inspections.</p>
      } @else {
        <div class="tableDiv">
          <app-data-table
            [data]="inspectionsDisplay"
            [columns]="inspectionDisplayedColumns"
            [hasColumnIndex]="false"
            [hasFilter]="false"
            [hasActionsRowClick]="true"
            [hasActionsView]="true"
            [hasActionsDelete]="false"
            [hasToggleTop]="false"
            [hasButtonTop]="false"
            [itemsPerPage]="5"
            (rowClickEvent)="onInspectionRowClick($event)"
            (viewEvent)="onInspectionRowClick($event)" />
        </div>
      }
    </mat-expansion-panel>

  </div>
</div>
