#loginPage {    
    & .background {
        background: url("/../../assets/images/background-image.jpg") no-repeat center center/cover;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .7;
    }
    & mat-card-title {
        text-align: center;
        margin-bottom: 1em;
    }
}

.remember-me-section {
    margin-top: 1em;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

