@if (!itemsToLoad.includes('letters')) {
<div class="flex content-card-wrap justify-center" fxLayout="row wrap">
	<section class="content-card">
		<div class="flex justify-start align-center bg-slate-200 rounded-t-lg px-8">
			<mat-icon mat-list-icon class="mr-5 mt-4">description</mat-icon>
			<h2 class="pt-3">Letters</h2>
		</div>
		<mat-card>
			<div class="mat">
				<div class="tableDiv">
					<app-data-table
						[data]="lettersDisplay"
						[columns]="lettersDisplayedColumns"
						[hasColumnIndex]="true"
						[hasFilter]="true"
						[hasActionsDelete]="true"
						[hasActionsEdit]="true"
						[hasButtonTop]="true"
						buttonTextTop="Create"
						(topButtonEvent)="addLetter()"
						(deleteEvent)="deleteLetter($event)"
						(editEvent)="goToLetter($event)"/>
				</div>
			</div>
		</mat-card>
	</section>
</div>
}
