@if (!(isLoading$ | async)) {
  <div class="mat list-layout-standard">
    <div class="tableDiv table-filter-row-actions-wrap table-filter-row-actions-wrap--compact">
      <div class="table-filter-row-actions form-titlebar-actions-wrap">
        <mat-slide-toggle color="primary" [checked]="showInactive" (change)="onInactiveChange($event.checked)">
          InActive
        </mat-slide-toggle>
        <button mat-raised-button type="button" color="primary" id="add-button" class="text-nowrap flex-shrink-0" (click)="addUser()">
          <mat-icon>add</mat-icon>
          Add
        </button>
      </div>
      <app-data-table
        [data]="usersDisplay"
        [columns]="usersDisplayedColumns"
        [hasColumnIndex]="false"
        [hasFilter]="true"
        [hasToggleTop]="false"
        [hasToggleTop2]="false"
        [hasButtonTop]="false"
        [hasActionsRowClick]="true"
        [hasActionsEdit]="true"
        [hasActionsDelete]="true"
        [deleteConfirmTitle]="'Delete User'"
        [deleteConfirmMessage]="'Are you sure you want to delete this user?'"
        [itemsPerPage]="100"
        (editEvent)="goToUser($event)"
        (checkboxChangeEvent)="onUserCheckboxChange($event)"
        (rowClickEvent)="goToUser($event)"
        (deleteEvent)="deleteUser($event)"/>
    </div>
  </div>
}

