@if (!isServiceError && !itemsToLoad.includes('property')) {
  <div class="flex content-card-wrap justify-center" fxLayout="row wrap">
    <section class="content-card">
      <div class="flex justify-between items-center gap-3 bg-slate-200 rounded-t-lg py-0 pl-8 pr-4">
        <span class="flex flex-column items-center gap-3 py-4">
          <mat-icon class="flex-shrink-0">home</mat-icon>
          <span class="flex-shrink-0 text-xl font-medium">
            {{ isAddMode ? 'Add Property' : 'Edit Property' }}
          </span>
        </span>
        <div class="flex gap-2">
          <button mat-raised-button type="button" color="accent" id="back-button" (click)="back()"
            class="scale-90 text-nowrap flex-shrink-0">
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
          <button mat-raised-button type="button" color="primary" id="save-button" (click)="saveProperty()"
            class="scale-90 text-nowrap flex-shrink-0" [disabled]="isSubmitting || !form.valid">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
      </div>
        
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="saveProperty()" class="info-form mb-8 pt-5">
            <div class="mb-4 flex justify-end" style="padding-right: 5px;">
              <mat-checkbox formControlName="isActive" color="primary">
                Is Active
              </mat-checkbox>
            </div>
            <div class="grid grid-cols-4 gap-x-1.5 gap-y-1">
              <div class="col-span-4 flex items-center gap-x-1.5">
                <mat-form-field appearance="outline" class="flex-1">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" required>
                  @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
                    <mat-error>Name is required</mat-error>
                  }
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-1">
                  <mat-label>Owner</mat-label>
                  <mat-select formControlName="contactId">
                    <mat-option value="">Select Owner</mat-option>
                    @for (contact of contacts; track contact.contactId) {
                      <mat-option [value]="contact.contactId">{{ contact.fullName }}</mat-option>
                    }
                  </mat-select>
                  @if (isAddMode && form.get('contactId')?.hasError('required') && form.get('contactId')?.touched) {
                    <mat-error>Owner is required</mat-error>
                  }
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 20ch; min-width: 20ch; flex-shrink: 0;">
                  <mat-label>Code</mat-label>
                  <input matInput formControlName="propertyCode" [required]="isAddMode">
                  @if (isAddMode && form.get('propertyCode')?.hasError('required') && form.get('propertyCode')?.touched) {
                    <mat-error>Code is required</mat-error>
                  }
                </mat-form-field>
              </div>

              <mat-form-field appearance="outline" class="col-span-2">
                <mat-label>Address 1</mat-label>
                <input matInput formControlName="address1" required>
                @if (form.get('address1')?.hasError('required') && form.get('address1')?.touched) {
                  <mat-error>Address 1 is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-2">
                <mat-label>Address 2</mat-label>
                <input matInput formControlName="address2">
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-2">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" required>
                @if (form.get('city')?.hasError('required') && form.get('city')?.touched) {
                  <mat-error>City is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-1">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" required>
                  <mat-option value="">Select State</mat-option>
                  @for (state of states; track state) {
                    <mat-option [value]="state">{{ state }}</mat-option>
                  }
                </mat-select>
                @if (form.get('state')?.hasError('required') && form.get('state')?.touched) {
                  <mat-error>State is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-1">
                <mat-label>Zip Code</mat-label>
                <input matInput formControlName="zip" required>
                @if (form.get('zip')?.hasError('required') && form.get('zip')?.touched) {
                  <mat-error>Zip Code is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-4">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" required maxlength="14" (blur)="formatPhone()" (input)="onPhoneInput($event)">
                @if (form.get('phone')?.hasError('required') && form.get('phone')?.touched) {
                  <mat-error>Phone is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-1">
                <mat-label>Bedrooms</mat-label>
                <input matInput type="number" formControlName="bedrooms" required>
                @if (form.get('bedrooms')?.hasError('required') && form.get('bedrooms')?.touched) {
                  <mat-error>Bedrooms is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-1">
                <mat-label>Bathrooms</mat-label>
                <input matInput type="number" step="0.5" formControlName="bathrooms" required>
                @if (form.get('bathrooms')?.hasError('required') && form.get('bathrooms')?.touched) {
                  <mat-error>Bathrooms is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-1">
                <mat-label>Square Feet</mat-label>
                <input matInput type="number" formControlName="squareFeet" required>
                @if (form.get('squareFeet')?.hasError('required') && form.get('squareFeet')?.touched) {
                  <mat-error>Square Feet is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-1">
                <mat-label>Parking Spaces</mat-label>
                <input matInput type="number" formControlName="parkingSpaces" required>
                @if (form.get('parkingSpaces')?.hasError('required') && form.get('parkingSpaces')?.touched) {
                  <mat-error>Parking Spaces is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-4">
                <mat-label>Amenities</mat-label>
                <textarea matInput formControlName="amenities" rows="3"></textarea>
              </mat-form-field>

              <div class="col-span-4">
                <div class="features-container">
                  <label class="features-label">Features</label>
                  <div class="grid grid-cols-4 gap-4 items-center features-content">
                    <mat-checkbox formControlName="gated">Gated</mat-checkbox>
                    <mat-checkbox formControlName="washerDryer">Washer/Dryer</mat-checkbox>
                    <mat-checkbox formControlName="pool">Pool</mat-checkbox>
                    <mat-checkbox formControlName="hotTub">Hot Tub</mat-checkbox>
                    <mat-checkbox formControlName="yard">Yard</mat-checkbox>
                    <div class="flex items-center gap-4 col-span-2">
                      <mat-checkbox formControlName="alarm">Alarm</mat-checkbox>
                      @if (form.get('alarm')?.value) {
                        <mat-form-field appearance="outline" class="alarm-code-field">
                          <mat-label>Code</mat-label>
                          <input matInput formControlName="alarmCode" maxlength="6">
                        </mat-form-field>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>

            @if (isSubmitting) {
              <div class="flex justify-start gap-3 items-center">
                <mat-spinner [diameter]="20" color="accent" class="inline-block relative right-1 m-1"/>
                <span>Saving...</span>
              </div>
            }
          </form>
      </mat-card>
    </section>
  </div>
}

