.no-logo {
  display: flex;
  align-items: center;
  justify-content: center;;
  width:200px;
  height: 150px;
  text-align: center;
  border:1px solid #ccc;
  background-color:#f1f1f1
}

.image-file-error {
  color: red;
  margin-top:5px;
}
.image-input{
  font-size: 10px;
}

.myfilebrowser button {
  min-width: auto;
}

.myfilebrowser {
  min-width: auto;
  float: right;
  color: white;
}

#fileUpload {
  display: none;
}
.fileUpload {
  display: none;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0 0 0);
  margin-left: 10px;

  &:focus-visible {
    border: none !important;
  }
}

// Reduce font size in form fields
::ng-deep .mat-mdc-form-field {
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-input-control {
      input, textarea, .mat-mdc-select-value {
        font-size: 14px;
      }
    }
  }
}

// Alternative approach - target all inputs in form fields
::ng-deep mat-form-field {
  input.mat-mdc-input-element,
  textarea.mat-mdc-input-element,
  .mat-mdc-select-value {
    font-size: 14px;
  }
}

