@if (!isPageReady) {
  <div class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
    <p>Loading deposits...</p>
  </div>
} @else if (isServiceError) {
  <p class="empty-msg">Unable to load deposits.</p>
} @else {
  <div class="mat list-layout-standard dbg-band-main">
    <div class="tableDiv">
      <app-data-table
        tableName="deposits-list"
        [data]="depositsDisplay"
        [columns]="depositDisplayedColumns"
        noDataMessage="No deposits"
        [hasColumnIndex]="true"
        [hasFilter]="true"
        [hasToggleTop]="false"
        [hasButtonTop]="false"
        [hasActionsRowClick]="true"
        [hasActionsEdit]="true"
        [hasActionsDelete]="true"
        deleteConfirmTitle="Delete Deposit"
        deleteConfirmMessage="Are you sure you want to delete this deposit?"
        [itemsPerPage]="10"
        (editEvent)="goToDeposit($event)"
        (rowClickEvent)="goToDeposit($event)"
        (deleteEvent)="deleteDeposit($event)">
        <div dataTableFilterActions>
          <div class="table-filter-actions-group form-titlebar-actions-wrap uniform-gap">
            <mat-slide-toggle [checked]="showInactive" color="primary" (change)="toggleInactive()">
              InActive
            </mat-slide-toggle>
            <button mat-raised-button type="button" color="primary" id="add-deposit-button" class="text-nowrap flex-shrink-0" (click)="addDeposit()">
              <mat-icon>add</mat-icon>
              Add
            </button>
          </div>
        </div>
      </app-data-table>
    </div>
  </div>
}
