@if (!(isLoading$ | async)) {
  <div class="flex content-card-wrap justify-center" fxLayout="row wrap">
    <section class="content-card">
      <div class="flex justify-between items-center gap-3">
        <div class="flex items-center flex-wrap py-4">
          <span class="flex flex-column items-center gap-3 flex-shrink-0">
            <mat-icon class="flex-shrink-0">corporate_fare</mat-icon>
            <span class="flex-shrink-0 text-xl font-medium">Organizations</span>
          </span>
        </div>
      </div>
      <mat-card>
        <div class="mat">
          <div class="tableDiv">
            <app-data-table
              [data]="organizationsDisplay"
              [columns]="organizationsDisplayedColumns"
              [hasColumnIndex]="false"
              [hasFilter]="true"
              [hasToggleTop]="true"
              [hasButtonTop]="true"
              [buttonColorTop]="'primary'"
              [buttonTextTop]="'Add'"
              [buttonIconTop]="'add'"
              [hasActionsRowClick]="true"
              [hasActionsEdit]="true"
              [hasActionsDelete]="true"
              [deleteConfirmTitle]="'Delete Organization'"
              [deleteConfirmMessage]="'Are you sure you want to delete this organization?'"
              [itemsPerPage]="100"
              buttonToggleTextTop="InActive"
              (topButtonEvent)="addOrganization()"
              (topToggleButtonEvent)="toggleInactive()"
              (editEvent)="goToOrganization($event)"
              (rowClickEvent)="goToOrganization($event)"
              (deleteEvent)="deleteOrganization($event)"/>
          </div>
        </div>
      </mat-card>
    </section>
  </div>
}




