<mat-toolbar id="header" color="primary" class="flex justify-between gap-8 shrink w-full">
  <span [ngClass]="{'pl-[30px]' : (isHandset$ | async)}" class="flex items-center h-full">
    @if ((isHandset$ | async) === false) {
      <mat-icon class="align-sub mr-3 ml-2">library_add_check</mat-icon>
    }
    <span class="mr-8">RentAll</span>
    <span class="quote flex items-center">
      <mat-icon class="quote-icon mr-2">psychology_alt</mat-icon>
      <span class="quote-content">
        <span>“<i> {{(dailyQuote | async)?.quote}}</i>”</span>
        @if ((dailyQuote | async)?.author) {
          <span>  ~ {{(dailyQuote | async)?.author}} </span>
        }
      </span>
    </span>
  </span>
  <span>

    @if (isLoggedIn | async) {
      <div class="mat-toolbar-rightside">
        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" aria-label="profile button" id="profile-button">
          <span class="flex justify-end items-center">
            <span class="mobile-hide text-xs font-semibold mr-2">{{ user?.firstName + ' ' + user?.lastName }}</span>
            <mat-icon>person</mat-icon>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </button>
  
        <mat-menu #menu="matMenu" xPosition="after" class="header-mat-menu">
          <div class="w-full px-4 pt-2">
            <p class="text-sm mb-0 text-end">Logged in as:</p>
            <button mat-button class="w-full text-end p-0 min-w-0 h-auto" (click)="openUserDialog(); menuTrigger.closeMenu()" style="text-transform: none;">
              <div class="w-full text-end">
                <div class="text-xs font-normal">{{ user?.firstName + ' ' + user?.lastName }}</div>
                <div class="text-xs font-normal text-blue-600 mb-1">{{ user?.email }}</div>
              </div>
            </button>
          </div>
  
          <mat-divider></mat-divider>
  
          <button mat-menu-item (click)="logout()" id="logout-button">
            <mat-icon class="rotate-180">logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    }

  </span>
</mat-toolbar>
