@if (isLoading) {
  <div class="loading-wrap">
    <mat-spinner [diameter]="30"></mat-spinner>
    <span>Loading inventories...</span>
  </div>
} @else {
  @if (isServiceError) {
    <p class="empty-msg">Unable to load inventories.</p>
  }
  <div class="tableDiv">
    <app-data-table
      [data]="inventoriesDisplay"
      [columns]="inventoryDisplayedColumns"
      [hasColumnIndex]="false"
      [hasFilter]="true"
      [hasActionsRowClick]="true"
      [hasActionsView]="true"
      [hasActionsDelete]="true"
      [hasToggleTop]="false"
      [hasButtonTop]="false"
      [itemsPerPage]="100"
      (rowClickEvent)="goToInventory($event)"
      (viewEvent)="viewDocument($event)"
      (deleteEvent)="deleteInventory($event)" />
  </div>
}
