<div class="owner-statement-list-shell">
  @if (!isPageReady) {
    <p>Loading owner statement list...</p>
  } @else if (isServiceError) {
    <p>Unable to load owner statement list.</p>
  } @else {
    <div class="mat list-layout-standard dbg-band-main">
      <div class="tableDiv">
        <app-data-table
          tableName="owner-statement-list"
          [data]="lines"
          [columns]="ownerStatementDisplayedColumns"
          [hasColumnIndex]="true"
          [hasFilter]="true"
          [hasActionsView]="true"
          [hasActionsStartingBalance]="true"
          [noDataMessage]="noDataMessage"
          [itemsPerPage]="10"
          (viewEvent)="onViewStatement($event)"
          (startingBalanceEvent)="openStartingBalanceDialog($event)">
        </app-data-table>
      </div>
    </div>
  }
</div>
