@if (!isServiceError && !itemsToLoad.includes('agent')) {
  <div class="flex content-card-wrap justify-center" fxLayout="row wrap">
    <section class="content-card">
      <div class="flex justify-between items-center gap-3 bg-slate-200 rounded-t-lg py-0 pl-8 pr-4">
        <span class="flex flex-column items-center gap-3 py-4">
          <mat-icon class="flex-shrink-0">person</mat-icon>
          <span class="flex-shrink-0 text-xl font-medium">
            {{ isAddMode ? 'Add Agent' : 'Edit Agent' }}
          </span>
        </span>
        <div class="flex gap-2">
          <button mat-raised-button type="button" color="accent" id="back-button" (click)="back()"
            class="scale-90 text-nowrap flex-shrink-0">
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
          <button mat-raised-button type="button" color="primary" id="save-button" (click)="saveAgent()"
            class="scale-90 text-nowrap flex-shrink-0" [disabled]="isSubmitting || !form.valid">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
      </div>
        
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="saveAgent()" class="info-form mb-8 pt-5">
            <div class="grid grid-cols-4 gap-x-1.5 gap-y-1">
              <div class="col-span-4 flex items-center justify-end">
                <mat-checkbox formControlName="isActive" color="primary">
                  Is Active
                </mat-checkbox>
              </div>

              <mat-form-field appearance="outline" class="col-span-2">
                <mat-label>Agent Code</mat-label>
                <input matInput formControlName="agentCode" required>
                @if (form.get('agentCode')?.hasError('required') && form.get('agentCode')?.touched) {
                  <mat-error>Agent Code is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-2">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" required>
                @if (form.get('description')?.hasError('required') && form.get('description')?.touched) {
                  <mat-error>Description is required</mat-error>
                }
              </mat-form-field>
            </div>

            @if (isSubmitting) {
              <div class="flex justify-start gap-3 items-center">
                <mat-spinner [diameter]="20" color="accent" class="inline-block relative right-1 m-1"/>
                <span>Saving...</span>
              </div>
            }
          </form>
      </mat-card>
    </section>
  </div>
}

