<div class="mobile-leads-list-actions">
  <mat-slide-toggle color="primary" [checked]="showInactive" (change)="toggleInactive()" class="whitespace-nowrap">
    InActive
  </mat-slide-toggle>
  <button mat-raised-button type="button" color="primary" class="text-nowrap flex-shrink-0" (click)="addLead()">
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>
<app-mobile-list-table
  [rows]="rows"
  [columns]="listColumns"
  [isPageReady]="isPageReady"
  [showFilter]="true"
  [rowsClickable]="true"
  [rowNumberLabel]="'No'"
  [attentionDotColumn]="'name'"
  (rowClick)="onRowClick($event)" />
