<div class="flex content-card-wrap justify-center">
  <section class="content-card">
    <div class="flex justify-between items-center gap-3 bg-slate-300 rounded-t-lg py-0 pl-8 pr-4">
      <span class="flex flex-column items-center gap-3 py-4">
        <mat-icon class="flex-shrink-0">business</mat-icon>
        <span class="flex-shrink-0 text-xl font-medium">Companies</span>
      </span>
    </div>
    <mat-card>
      <mat-tab-group [selectedIndex]="selectedTabIndex" class="companies-tabs" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Companies">
          <app-company-list></app-company-list>
        </mat-tab>
        <mat-tab label="Vendors">
          <app-vendor-list></app-vendor-list>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </section>
</div>
