<div class="rent-roll-wrap">
  @if (!isPageReady) {
    <div class="rent-roll-loading">
      <mat-spinner diameter="36"></mat-spinner>
      <p>Loading rent roll...</p>
    </div>
  } @else if (isServiceError) {
    <p class="rent-roll-empty">Unable to load rent roll.</p>
  } @else {
    <div class="mat list-layout-standard dbg-band-main">
      <div class="tableDiv">
        <app-data-table
          tableName="accounting-rent-roll"
          [data]="rentRollRowsDisplay"
          [columns]="rentRollDisplayedColumns"
          [noDataMessage]="'No rent roll lines found.'"
          [hasColumnIndex]="true"
          [hasActionsSelect]="true"
          [hasButtonSelectAll]="true"
          [hasFilter]="true"
          [hasToggleTop]="true"
          [buttonToggleTextTop]="'ShowCreated'"
          [hasButtonTop]="true"
          [buttonTextTop]="'Create Bills'"
          [buttonIconTop]="'receipt_long'"
          [buttonDisabledTop]="isCreateBillsTopButtonDisabled"
          [hasActionsRowClick]="true"
          [hasPropertyCodeLink]="true"
          [hasActionsEdit]="true"
          [hasActionsDelete]="true"
          [hasActionsInvoice]="true"
          [invoiceActionTooltip]="'Create Bill'"
          [deleteConfirmTitle]="'Delete Agreement Line'"
          [deleteConfirmMessage]="'Are you sure you want to delete this agreement line?'"
          [totalsRow]="rentRollTotalsRow"
          [itemsPerPage]="100"
          (topToggleButtonEvent)="onToggleShowCreatedBills()"
          (topButtonEvent)="onCreateSelectedBills()"
          (selectionSet)="onSelectionSet($event)"
          (rowClickEvent)="onEditAgreementLine($event)"
          (propertyCodeClickEvent)="onPropertyCodeClick($event)"
          (editEvent)="onEditAgreementLine($event)"
          (deleteEvent)="onDeleteAgreementLine($event)"
          (invoiceEvent)="onCreateBill($event)">
        </app-data-table>
      </div>
    </div>
  }
</div>
