@if (!(isLoading$ | async)) {
  <div class="flex content-card-wrap justify-center" fxLayout="row wrap">
    <section class="content-card">
      <div class="flex justify-between items-baseline bg-slate-200 rounded-t-lg px-8 py-4">
        <div class="flex items-baseline">
          <mat-icon mat-list-icon class="mr-5">palette</mat-icon>
          <h2 class="m-0">Colors</h2>
        </div>
      </div>
      <mat-card>
        <div class="mat">
          <div class="tableDiv">
            <app-data-table
              [data]="colorsDisplay"
              [columns]="colorsDisplayedColumns"
              [hasColumnIndex]="false"
              [hasFilter]="true"
              [hasToggleTop]="false"
              [hasActionsRowClick]="true"
              [hasActionsEdit]="true"
              [hasActionsDelete]="false"
              [itemsPerPage]="100"
              (editEvent)="goToColor($event)"
              (rowClickEvent)="goToColor($event)"/>
          </div>
        </div>
      </mat-card>
    </section>
  </div>
}

