<div class="flex flex-col">
  <div class="flex flex-1 justify-between items-center bg-slate-200 rounded-t-lg p-3">
    <span class="text-2xl items-center flex gap-2 ml-1">
      <mat-icon color="primary">info</mat-icon>
      Invoice Paid in Full
    </span>
    <button mat-mini-fab mat-dialog-close class="bg-transparent" id="exit" color="none">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <mat-dialog-content class="flex-shrink-0 w-full p-6">
    <p class="text-base">
      This invoice has already been paid.
    </p>
  </mat-dialog-content>
  
  <mat-divider class="flex-shrink-0 w-full"/>
  
  <div class="flex flex-1 justify-end gap-3 p-3">
    <button mat-raised-button color="primary" (click)="close()" id="ok" cdkFocusInitial>
      OK
    </button>
  </div>
</div>
