<div class="flex content-card-wrap justify-center" fxLayout="row wrap">
  <section class="content-card">
    <div class="flex justify-between align-center items-center bg-slate-200 rounded-t-lg px-8">
      <span class="flex justify-start">
        <mat-icon mat-list-icon class="mr-5 mt-4">done</mat-icon>
        <h2 class="flex justify-start items-center gap-2 pt-3">
          <span>Outstanding Check:</span>
          @if (isServiceError || itemsToLoad.includes('agency')) {
            <mat-spinner class="inline" color="primary" diameter="15"/>
          } @else {
            {{outstandingCheck.checkNum}}
          }
      </h2>
      </span>
      <button mat-raised-button type="button" color="accent" id="get-button" (click)="back()" class="scale-90 text-nowrap">Back to List</button>
    </div>
    <mat-card>
      <div class="mat">

        @if (isServiceError || itemsToLoad.includes('agency')) {
					<div class="flex no-data"><span><mat-spinner color="primary" diameter="30"/></span></div>
        } @else {
          <mat-tab-group animationDuration="300ms" class="max-w-5xl border-t border-slate-200 border-solid mb-3">
            <mat-tab class="w-full mt-3">
              <ng-template mat-tab-label>Details</ng-template>
              <app-check-tab-details [outstandingCheck]="outstandingCheck" [agency]="agency"/>
            </mat-tab>

            <mat-tab class="w-full">
              <ng-template mat-tab-label>Preview</ng-template>
              <app-check-tab-preview [outstandingCheck]="outstandingCheck" [agency]="agency"/>
            </mat-tab>

            <mat-tab class="w-full">
              <ng-template mat-tab-label>History</ng-template>
              <app-check-tab-history [outstandingCheck]="outstandingCheck"/>
            </mat-tab>

            <mat-tab class="w-full">
              <ng-template mat-tab-label>Notes</ng-template>
              <app-check-tab-notes [outstandingCheck]="outstandingCheck"/>
            </mat-tab>

          </mat-tab-group>
				}

      </div>
    </mat-card>
  </section>
</div>