@if (!isServiceError && !itemsToLoad.includes('agency')) {

  
  <div class="flex content-card-wrap justify-center" fxLayout="row wrap">
    <section class="content-card">
      <div class="flex justify-between items-center gap-3 bg-slate-200 rounded-t-lg py-0 pl-8 pr-4">
        <span class="flex flex-column items-center gap-3 py-4">
          <mat-icon class="flex-shrink-0">business</mat-icon>
          <span class="flex-shrink-0 text-xl font-medium">
            Edit Agency
          </span>
        </span>
        <button mat-raised-button type="button" color="accent" id="get-button" (click)="back()"
          class="scale-90 text-nowrap flex-shrink-0">Back to Agencies</button>
      </div>
        
      <mat-card>
        <div class="flex justify-between items-center">
          <h2 class="pt-5">{{ agency.name }}</h2>
        </div>
        <mat-divider class="pb-5"/>
        <p><strong>Parent Company:</strong> {{ agency.parentCompany }}</p>

        <div class="field-row w-full">
          <div id="profile-image-container" class="mb-4 spacer">
          @if (logoImgUrl) {
            <img class="object-scale-down h-44 w-80" id="profile-image" alt="Agency Logo" title="Agency Logo" src="{{ logoImgUrl }}" />
          }
          @else {
            <div class="no-logo">-- No agency logo --</div>
          }
          </div>
        </div>

        <mat-divider class="pb-5"/>

        <h2 class="pt-3">{{ logoImgUrl ? 'Update Agency Logo' : 'Add Agency Logo' }}</h2>
        <div id="info-form-wrapper" class="content">
          <form [formGroup]="form" (ngSubmit)="updateLogo()" class="info-form mb-8">    
            <div class="flex justify-start image-input items-center">
              <button class="myfilebrowser mb-3 mr-2" type="button" id="file-button" color="primary" mat-raised-button (click)="UploadFileInput.click()">
                Choose Image
              </button>
              @if (fileName) {
                <img class="object-scale-down h-44 w-80" id="profile-image" alt="Agency Logo" title="Agency Logo" src="{{ 'data:image/*;base64,' + fileDetails.file }}" />
                <span class="text-sm font-semibold ml-2">{{ fileName }}</span>
              }
              <input matInput readonly name="memberContactNo" value="{{ fileName }}" class="fileUpload" id="image-file" />
              <input type="file" #UploadFileInput id="fileUpload" name="fileUpload" (change)="upload($event)" />
            </div>
            @if (!form.get('fileUpload')?.valid) {
              <div class="image-file-error">
                Only a jpg, gif, or png image type with a file size less than 2MB are valid.
              </div>
            }
            <p>Allowed File Types (jpg, png, or gif image types)</p>
            <div class="flex justify-start gap-3 items-center">
              <button mat-raised-button class="agencyBtn" type="submit" id="create-button" color="accent" [disabled]="!fileName">
                Submit
              </button>
              @if (isSubmitting) {<mat-spinner [diameter]="20" color="accent" class="inline-block relative right-1 m-1"/>}
            </div>
          </form>
        </div>
      </mat-card>
    </section>
  </div>
}