.accounting-tabs {
  ::ng-deep {
    // Make all tabs equal width
    .mat-mdc-tab-header {
      .mdc-tab {
        flex: 1;
        min-width: 0;
      }
    }

    .mat-mdc-tab.mdc-tab--active {
      border-top: 2px solid rgb(148, 163, 184);
      border-left: 2px solid rgb(148, 163, 184);
      border-right: 2px solid rgb(148, 163, 184);
    }
  }
}
