<mat-sidenav-container [autosize]="true">
  <mat-sidenav #sideNav
    role="dialog"
    mode="over"
    [opened]="false"
    [style.width.px]="collapsedSidebarWidth"
    class="sidenav-collapsed">

    @for (navItem of navItems; track navItem.path; let i = $index) {
      @if (navItem.tabs.length) {
        <a mat-list-item
          class="mat-list-item-closed"
          [disableRipple]="true"
          [matTooltip]="navItem.label"
          matTooltipPosition="after"
          [matTooltipClass]="'sidenav-tooltip'"
          [id]="'mobile-sidenav-list-item-' + i"
          [matMenuTriggerFor]="tabMenu"
          (click)="onMenuItemClick(navItem)">
          <div class="mat-list-item-content-open mat-list-item-content-closed" [class.active-list-item]="selectedItem?.path === navItem.path">
            <mat-icon>{{ navItem.icon }}</mat-icon>
          </div>
        </a>
        @if (showReceiptCaptureBlockAfter(navItem)) {
          <div class="mobile-sidebar-capture-divider" aria-hidden="true">
            <span class="mobile-sidebar-capture-divider-line"></span>
            <span class="mobile-sidebar-capture-divider-gem"></span>
            <span class="mobile-sidebar-capture-divider-line"></span>
          </div>
          <a mat-list-item
            class="mat-list-item-closed"
            [disableRipple]="true"
            matTooltip="Camera"
            matTooltipPosition="after"
            [matTooltipClass]="'sidenav-tooltip'"
            [class.mobile-sidebar-item-disabled]="isReceiptCaptureInProgress()"
            (click)="openCameraCapture(receiptCameraInput)">
            <div class="mat-list-item-content-open mat-list-item-content-closed">
              <mat-icon>photo_camera</mat-icon>
            </div>
          </a>
          <a mat-list-item
            class="mat-list-item-closed"
            [disableRipple]="true"
            matTooltip="Upload"
            matTooltipPosition="after"
            [matTooltipClass]="'sidenav-tooltip'"
            [class.mobile-sidebar-item-disabled]="isReceiptCaptureInProgress()"
            (click)="openUploadCapture(receiptUploadInput)">
            <div class="mat-list-item-content-open mat-list-item-content-closed">
              <mat-icon>upload_file</mat-icon>
            </div>
          </a>
        }
      } @else {
        <a mat-list-item
          [routerLink]="getPrimaryLink(navItem)"
          class="mat-list-item-closed"
          [disableRipple]="true"
          [matTooltip]="navItem.label"
          matTooltipPosition="after"
          [matTooltipClass]="'sidenav-tooltip'"
          [id]="'mobile-sidenav-list-item-' + i"
          (click)="onNavItemClick()">
          <div class="mat-list-item-content-open mat-list-item-content-closed" [class.active-list-item]="selectedItem?.path === navItem.path">
            <mat-icon>{{ navItem.icon }}</mat-icon>
          </div>
        </a>
      }
    }

    <mat-menu #tabMenu="matMenu" xPosition="after" panelClass="mobile-sidebar-tab-menu">
      @for (tab of getMenuTabs(); track tab.path) {
        <button mat-menu-item type="button" class="office-menu-item" (click)="onTabSelect(tab)">
          <span class="office-menu-label">{{ tab.label }}</span>
          @if (isTabSelected(tab)) {
            <mat-icon class="office-selected-check">check</mat-icon>
          }
        </button>
      }
    </mat-menu>

    <input
      #receiptCameraInput
      type="file"
      accept="image/*"
      capture="environment"
      hidden
      (change)="onReceiptCaptureSelected($event)" />
    <input
      #receiptUploadInput
      type="file"
      accept="image/*,application/pdf"
      hidden
      (change)="onReceiptCaptureSelected($event)" />

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
