.property-titlebar {
  min-height: var(--property-titlebar-height);
  box-sizing: border-box;

  mat-icon.mat-icon {
    overflow: visible;
    line-height: 1;
  }
}

:host ::ng-deep .shell-tabs .mat-mdc-tab-body-content {
  overflow-y: hidden !important;
  padding-top: 12px;
  box-sizing: border-box;
}

