@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./reset.scss";
@import "./styles/mixins";
@import "./styles/theme";

* {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

.mobile-hide {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.mobile-view-full {
  @media screen and (max-width: 959px) {
    width: 100% !important;
  }
}

.mobile-flex-column {
  @media screen and (max-width: 959px) {
    flex-direction: column !important;

    & button {
      margin-bottom: 1em;
      margin-left: 0 !important;
      margin-right: 0.5em;
    }
  }
}

.mobile-flex-column-reverse {
  @media screen and (max-width: 959px) {
    flex-direction: column-reverse !important;
  }
}

.cardContainer {
  @include fullScreenBackgroundCard;
}

.centerContainer {
	display: flex !important;
	justify-content: center !important;

	mat-form-field, input {
		width: 100%;
	}
	.mat-card-title {
		padding-top: 30px;
		margin-bottom: 0;
		text-align: center;
	}
	button {
		width: 100%;
		text-align: center;
	}
	.mat-card-actions {
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
	}
	.loginContainer {
		margin-top: 100px;
		max-width: 500px;
		padding: 25px;
		@media  screen and (max-width: 600px) {
			width: 300px;
		}
	}
}

.content-card-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin-bottom:50px;

  @media screen and (max-width: 959px) {
    height: unset;
  }

  .content-card {
    width: 85%;
    margin-top: 24px;
    margin-bottom: 2px;
    height: fit-content;
    padding: 0 !important;
    transition: width 0.3s ease;

		mat-card {
			padding:20px 44px;
		}

    @media screen and (max-width: 959px) {
        width: 100%;
    }
  }

  .content-card-content {
    padding: 0 15px 15px 15px;
  }

  thead {
    @media screen and (max-width: 959px) {
        display: none !important;
    }
  }
}


.no-data {
  display:flex;
  align-items:center;
  padding: 20px 0;

  span {
    text-align:center;
    margin:auto;
    padding:10px;
  }
}

mat-tab-header {
  margin-bottom: 20px;
}

.mat-mdc-tab {
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.25rem !important;
  background-color: rgb(226, 232, 240, 0.5) !important;
  transition: background-color 300ms linear, border-radius 300ms linear;

  &.mdc-tab--active {
    background-color: transparent !important;
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;
    &:hover {
      * {
        background-color: #fff;
      }
    }
    .mdc-tab__text-label {
      color: black !important;
    }
  }
  .mdc-tab-indicator {
    display: none;
  }
}


// Manipulate initial background color
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

// Manipulate background color on hover and focus
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

mat-form-field input,
.mat-mdc-select-min-line,
.mat-mdc-option {
  font-size: 16px !important;
}

.datatable-add-btn {
  > * {
    display: contents;
  }
}

// state field on letter edit/create page
#state-form {
  .mat-mdc-text-field-wrapper {
    height: 36px;

    .mat-mdc-form-field-infix {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

// accouncement message
.announcement {
  display:flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(174, 31, 102, .1);
  border-radius: 4px;
}

// daily quote override
.mat-toolbar-row, .mat-toolbar-single-row {
  .quote-content span {
    white-space: normal !important;
  }
}

// dialog styles
.dialog-details {
  font-size: 14px !important;
  margin-bottom: 0.25rem;

  .label {
    display: inline-block;
    text-align: start;
    vertical-align: top;
    font-weight: 600;
    color: #333;
    width: 11rem;
    max-width: 50% !important;
  }

  .value {
    display: inline-block;
    max-width: 50% !important;
  }
}

// Make required asterisk red in all forms
::ng-deep .mat-mdc-form-field-required-marker,
::ng-deep .mat-form-field-required-marker {
  color: red !important;
}

// Also target the asterisk in mat-label
::ng-deep mat-label .mat-mdc-form-field-required-marker,
::ng-deep mat-label .mat-form-field-required-marker,
::ng-deep .mat-mdc-form-field-label .mat-mdc-form-field-required-marker,
::ng-deep .mat-form-field-label .mat-form-field-required-marker {
  color: red !important;
}