:host {
  display: block;
}

:host ::ng-deep .ticket-list-table .datatable-dropdown-trigger .mat-mdc-select-value-text {
  color: #1d4ed8;
  text-decoration: underline;
}

:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-ticketStateTypeText .mat-mdc-select,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-ticketStateTypeText .mat-mdc-select,
:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-ticketStateTypeText .mat-mdc-select-min-line,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-ticketStateTypeText .mat-mdc-select-min-line,
:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-ticketStateTypeText .mat-mdc-select-value,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-ticketStateTypeText .mat-mdc-select-value,
:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-ticketStateTypeText .mat-mdc-select-value-text,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-ticketStateTypeText .mat-mdc-select-value-text,
:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-assigneeDropdown .mat-mdc-select,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-assigneeDropdown .mat-mdc-select,
:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-assigneeDropdown .mat-mdc-select-min-line,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-assigneeDropdown .mat-mdc-select-min-line,
:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-assigneeDropdown .mat-mdc-select-value,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-assigneeDropdown .mat-mdc-select-value,
:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-assigneeDropdown .mat-mdc-select-value-text,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-assigneeDropdown .mat-mdc-select-value-text {
  font-size: inherit !important;
  line-height: inherit !important;
}

:host ::ng-deep .ticket-list-table td.mat-cell.mat-column-ticketAttentionDot,
:host ::ng-deep .ticket-list-table td.mat-mdc-cell.mat-column-ticketAttentionDot {
  color: #dc2626;
  font-size: 1rem;
  font-weight: 700;
}
