@if (isPageReady) {
  <div class="mat list-layout-tabbed">
    <div class="tableDiv px-4">
      <app-data-table
        class="ticket-list-table"
        [data]="ticketsDisplay"
        [columns]="ticketsDisplayedColumns"
        [hasColumnIndex]="true"
        [hasFilter]="showListFiltersAndActions"
        [hasToggleTop]="false"
        [hasActionsRowClick]="true"
        [hasActionsEdit]="true"
        [hasActionsDelete]="true"
        [hasActionsPrint]="true"
        [hasPropertyCodeLink]="true"
        [hasReservationCodeLink]="true"
        [itemsPerPage]="10"
        (dropdownChangeEvent)="onTicketDropdownChange($event)"
        (editEvent)="goToTicket($event)"
        (rowClickEvent)="goToTicket($event)"
        (propertyCodeClickEvent)="goToProperty($event)"
        (reservationCodeClickEvent)="goToReservation($event)"
        (deleteEvent)="deleteTicket($event)"
        (printEvent)="printTicket($event)"
        (checkboxChangeEvent)="onTicketCheckboxChange($event)">
        @if (showListFiltersAndActions) {
          <div dataTableFilterActions>
            <div class="table-filter-actions-group form-titlebar-actions-wrap uniform-gap">
              <mat-slide-toggle color="primary" [checked]="showInactive" (change)="onInactiveChange($event.checked)">
                InActive
              </mat-slide-toggle>
              <button mat-raised-button type="button" color="primary" id="add-button" class="text-nowrap flex-shrink-0" (click)="addTicket()">
                <mat-icon>add</mat-icon>
                Add
              </button>
            </div>
          </div>
        }
      </app-data-table>
    </div>
  </div>
}
