<div class="begin-reconciliation-dialog-wrap">
  <div class="begin-reconciliation-dialog-header">
    <span class="begin-reconciliation-dialog-title">
      <mat-icon class="flex-shrink-0">view_column</mat-icon>
      <span class="flex-shrink-0 text-xl font-medium">Customize Columns</span>
    </span>
  </div>

  <mat-dialog-content class="begin-reconciliation-dialog-content">
    <p class="begin-reconciliation-dialog__intro">
      Select the fields you would like to have displayed when reconciling. Amount is always shown.
    </p>

    <div class="reconcile-columns-dialog__panels">
      <fieldset class="begin-reconciliation-dialog__adjustments reconcile-columns-dialog__panel">
        <legend class="begin-reconciliation-dialog__adjustments-legend">Checks &amp; Payments</legend>
        <div class="reconcile-columns-dialog__options">
          @for (option of columnOptions; track option.key) {
            <mat-checkbox
              color="primary"
              [checked]="isPaymentsColumnSelected(option.key)"
              (change)="onPaymentsColumnChange(option.key, $event.checked)">
              {{ option.label }}
            </mat-checkbox>
          }
        </div>
      </fieldset>

      <fieldset class="begin-reconciliation-dialog__adjustments reconcile-columns-dialog__panel">
        <legend class="begin-reconciliation-dialog__adjustments-legend">Deposits and Other Credits</legend>
        <div class="reconcile-columns-dialog__options">
          @for (option of columnOptions; track option.key) {
            <mat-checkbox
              color="primary"
              [checked]="isDepositsColumnSelected(option.key)"
              (change)="onDepositsColumnChange(option.key, $event.checked)">
              {{ option.label }}
            </mat-checkbox>
          }
        </div>
      </fieldset>
    </div>

    <div class="begin-reconciliation-dialog-actions">
      <span></span>
      <div class="begin-reconciliation-dialog-actions-right">
        <button mat-raised-button type="button" color="accent" class="text-nowrap flex-shrink-0" (click)="onCancel()">Cancel</button>
        <button mat-raised-button type="button" color="primary" class="text-nowrap flex-shrink-0" (click)="onConfirm()">OK</button>
      </div>
    </div>
  </mat-dialog-content>
</div>
