@if (isLoading) {
  <div class="loading-container">
    <mat-spinner [diameter]="40"></mat-spinner>
    <p>Loading contractors...</p>
  </div>
} @else {
  @if (isServiceError) {
    <p class="empty-msg">Unable to load contractors.</p>
  }
  <div class="mat list-layout-standard">
    <div class="tableDiv">
      <app-data-table
        [data]="contractorsDisplay"
        [columns]="contractorDisplayedColumns"
        [hasColumnIndex]="false"
        [hasFilter]="true"
        [hasToggleTop]="true"
        [hasButtonTop]="true"
        [hasActionsRowClick]="true"
        [hasActionsEdit]="true"
        [hasActionsDelete]="true"
        [itemsPerPage]="100"
        buttonToggleTextTop="Inactive"
        buttonTextTop="Add"
        buttonIconTop="add"
        buttonColorTop="primary"
        (topToggleButtonEvent)="toggleInactive()"
        (topButtonEvent)="addContractor()"
        (editEvent)="goToContractor($event)"
        (rowClickEvent)="goToContractor($event)"
        (deleteEvent)="deleteContractor($event)" />
    </div>
  </div>
}
