<div class="preview-dialog-container">
  <div class="preview-dialog-header">
    <div class="flex items-center gap-2">
      <mat-icon color="primary">preview</mat-icon>
      <span class="text-xl font-medium">Welcome Letter Preview</span>
    </div>
    <button mat-raised-button color="primary" mat-dialog-close (click)="onClose()">Close</button>
  </div>

  <mat-dialog-content class="preview-content">
    <div class="preview-html-wrapper" [innerHTML]="data.html | safe_html"></div>
  </mat-dialog-content>
</div>

